footer .col-sm-4{
  font-size: 20px;
}

footer {
  margin-top: 20px;
}

footer div {
  display: flex;
  align-items: center;
}

.col-sm-4 p {
  margin: 25px 20px 15px;
  min-width: 60px;
  padding: 1px;
}

