<!-- JUMBOTRON -->
<section class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h2>Gallery</h2>
      <h3>See what's new</h3>
    </div>
  </div>
</section>

<!-- BODY -->
<body>
<section class="container">
  <div class="row">
    <figure class="col-sm-4">
      <img src="https://images.unsplash.com/photo-1418393781697-0215e2fd73e4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1358&q=80">
    </figure>
    <figure class="col-sm-4">
      <img src="https://images.unsplash.com/photo-1559626627-cb31b201e27f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=994&q=80">
    </figure>
    <figure class="col-sm-4">
      <img src="https://images.unsplash.com/photo-1559493909-41312d8b0c4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
    </figure>
  </div>

  <div class="row">
    <figure class="col-sm-4">
      <img src="https://images.unsplash.com/photo-1557943819-b09ae5a1375c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
    </figure>
    <figure class="col-sm-4">
      <img src="https://images.unsplash.com/photo-1557562440-b67d58679232?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    </figure>
    <figure class="col-sm-4">
      <img src="https://images.unsplash.com/photo-1556783900-2ebe375c20fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    </figure>

  </div>
</section>
</body>
